backend/node_modules
frontend/node_modules
frontend/.next/build-manifest.json
frontend/.next/react-loadable-manifest.json
frontend/.next/cache/webpack/client-development/0.pack
frontend/.next/cache/webpack/client-development/1.pack
frontend/.next/cache/webpack/client-development/2.pack
frontend/.next/cache/webpack/client-development/3.pack
frontend/.next/cache/webpack/client-development/4.pack
frontend/.next/cache/webpack/client-development/5.pack
frontend/.next/cache/webpack/client-development/6.pack
frontend/.next/cache/webpack/client-development/7.pack
frontend/.next/cache/webpack/client-development/8.pack
frontend/.next/cache/webpack/client-development/9.pack
frontend/.next/cache/webpack/client-development/10.pack
frontend/.next/cache/webpack/client-development/11.pack
frontend/.next/cache/webpack/client-development/12.pack
frontend/.next/cache/webpack/client-development/13.pack
frontend/.next/cache/webpack/client-development/index.pack
frontend/.next/cache/webpack/client-development/index.pack.old
frontend/.next/cache/webpack/server-development/0.pack
frontend/.next/cache/webpack/server-development/1.pack
frontend/.next/cache/webpack/server-development/2.pack
frontend/.next/cache/webpack/server-development/3.pack
frontend/.next/cache/webpack/server-development/4.pack
frontend/.next/cache/webpack/server-development/5.pack
frontend/.next/cache/webpack/server-development/6.pack
frontend/.next/cache/webpack/server-development/7.pack
frontend/.next/cache/webpack/server-development/index.pack
frontend/.next/cache/webpack/server-development/index.pack.old
frontend/.next/server/pages-manifest.json
frontend/.next/server/vendors-node_modules_next_dist_pages__error_js.js
frontend/.next/server/vendors-node_modules_next_document_js.js
frontend/.next/server/vendors-node_modules_next_link_js.js
frontend/.next/server/webpack-runtime.js
frontend/.next/server/pages/_app.js
frontend/.next/server/pages/_document.js
frontend/.next/server/pages/_error.js
frontend/.next/server/pages/index.js
frontend/.next/server/pages/next/dist/pages/_error.js
frontend/.next/static/chunks/amp.js
frontend/.next/static/chunks/main.js
frontend/.next/static/chunks/node_modules_next_dist_client_dev_noop_js.js
frontend/.next/static/chunks/polyfills.js
frontend/.next/static/chunks/react-refresh.js
frontend/.next/static/chunks/webpack.js
frontend/.next/static/chunks/pages/_app.js
frontend/.next/static/chunks/pages/_error.js
frontend/.next/static/chunks/pages/index.js
frontend/.next/static/chunks/pages/next/dist/pages/_error.js
frontend/.next/static/development/_buildManifest.js
frontend/.next/static/development/_ssgManifest.js
frontend/.next/static/webpack/4e03326a78911018e190.hot-update.json
frontend/.next/static/webpack/06d83e7b672f594956a2.hot-update.json
frontend/.next/static/webpack/c97bdd43ed64a49ddb7e.hot-update.json
frontend/.next/static/webpack/webpack.4e03326a78911018e190.hot-update.js
frontend/.next/static/webpack/webpack.06d83e7b672f594956a2.hot-update.js
frontend/.next/static/webpack/webpack.c97bdd43ed64a49ddb7e.hot-update.js
frontend/.vscode/extensions.json
frontend/.vscode/settings.json
